<% layout('./layout/boilerplate') -%>


<div class="border p-3 mx-auto w-50 mt-5">
  <h1>Add Product</h1>
  <form action="/products" method="post">
      <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="name">
      </div>    
      <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" name="price" id="price">
      </div>   
      <div class="mb-3">
          <label for="img" class="form-label">Image Url</label>
          <input type="text" class="form-control" name="img" id="img">
      </div>    
      <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
      </div> 
      <button type="submit" class="btn btn-success btn-sm">Submit</button>
  </form>
</div>