<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h2> Random Number:  <%= randomNumber %> </h2>

    <% if( randomNumber % 2 === 0){ %>

        <h2> This is an even number</h2>

   <% }else{ %>

        <h2> This is an odd number</h2>

  <%  } %>

    
</body>
</html>