<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h2> Series Recommendation</h2>
    <br><br>

    <label for="searchinput">Search</label>
    <input type="text" placeholder="search" id="searchinput">

    <br><br>

    <main id="main">

    </main>


    <script src="/js/script.js"></script>
</body>
</html>