<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Comment</h1>

    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post">
        <div>
            <label for="user">Username: </label>
            <input type="text" name="user" id="user"
            placeholder="Username" value="<%= comment.user %>">
        </div>
        <br>
        <div>
            <label for="text">Comment Text:</label>
            <br>
            <br>
            <textarea name="text" id="text" cols="30" rows="5" placeholder="enter comment here..."> <%= comment.text %></textarea>
        </div>
        <br>
        <button>Save Comment</button>
    </form>



    
</body>
</html>