<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color:#0077b6;color:white;font-size:22px; padding:10px">
  <div class="container">
    <a class="navbar-brand" href="/">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/new">New</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <% if(currentUser){ %>
          <li class="nav-item">
            <a class="nav-link text-capitalize" href="#">Hi, <%=currentUser.username%>! </a>
          </li>
          <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;margin-left:30px" class="nav-item">
            <a style="color:#e7e6e6;font-size:18px"  class="nav-link" href="/logout">Logout</a>
          </li>
        <% }else{ %> 
            <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;margin-right:30px" class="nav-item">
              <a style="color:#e7e6e6;font-size:18px" class="nav-link" href="/login">Login</a>
            </li>
            <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;" class="nav-item">
              <a style="color:#e7e6e6;font-size:18px" class="nav-link" href="/register">SignUp</a>
            </li>
          <% } %> 

      </ul>
    </div>
  </div>
</nav>